.listWrapper {
  padding: 60px;
  background: $yellow;
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 50px;
  h1 {
    font-size: 45px;
  }
}

.dashNav {
  ul {
    float: right;
    list-style: none;

    li {
      margin: 5px;
      a {
        text-decoration: none;
        font-size: 18px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        padding-right: 2px;
        &:hover {
          border-top: 2px solid $green;
          border-bottom: 2px solid $green;
          padding-right: 2px;
        }
      }
    }
  }
}
