@import "base/variables.scss";

* {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background: #829339;
}

.container {
  background: #829339;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Quicksand", sans-serif;
  color: rgb(0, 30, 40);
}

.button {
  background: $green;
  padding-left: 30px;
  padding-right: 30px;
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  font-family: quicksand;
  background: $darkblue;
  color: $yellow;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 1s ease;
  &:hover {
    cursor: pointer;
    background: $yellow;
    color: $darkblue;
    text-transform: uppercase;
  }
}

.loginbtn {
  text-transform: uppercase;
  background: $green;
  color: white;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all 1s ease;

  &:hover {
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    background: transparent;
    color: $darkblue;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0px;
  }
}
